/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~highlight.js/styles/github.css";

body {
  margin: 0;
}

pre {
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 155, 119, 0.03);
  border-radius: 5px;
  display: block;
  overflow-x: auto;
  padding: 20px;
  white-space: pre-wrap;
  font-family: Roboto Mono, monospace;

  code {
    font-size: 100%;
  }
}

$ngxMat-palette: (
  50: #009b77,
  100: #009b77,
  200: #009b77,
  300: #009b77,
  400: #009b77,
  500: #009b77,
  600: #009b77,
  700: #009b77,
  800: #009b77,
  900: #009b77,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$ngxMat-primary: mat.define-palette($ngxMat-palette, 500);
$ngxMat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$ngxMat-theme: mat.define-light-theme(
  (
    color: (
      primary: $ngxMat-primary,
      accent: $ngxMat-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($ngxMat-theme);


// custom css to fix style issue in angular v16.2.x
.mat-datepicker-content {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}
.mat-calendar-table-header,
.mat-calendar-body-label {
  color: rgba(0, 0, 0, 0.54);
}
.mat-calendar-table-header th {
  text-align: center;
  padding: 0 0 8px 0;
  font-size: 11px;
  font-weight: 400;
}
.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: rgba(0, 0, 0, 0.54);
}
.mat-calendar-table-header th {
  text-align: center;
  padding: 0 0 8px 0;
}
.mat-calendar-body-label {
  height: 0;
  line-height: 0;
  text-align: left;
  padding-left: 4.7142857143%;
  padding-right: 4.7142857143%;
}
.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
  color: rgba(0, 0, 0, 0.87);
  border-color: transparent;
}
.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px white;
}
.mat-calendar-body-selected {
  background-color: #019999;
  color: white;
}
.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
  border-color: transparent;
}
.mat-calendar-table-header-divider::after {
  background: rgba(0, 0, 0, 0.12);
}
